# Compiled class files
*.class
target/

# Log files
*.log

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# VS Code
.vscode/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# H2 Database files
*.db
data/

# OS
.DS_Store
Thumbs.db